<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Product Name</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <td-layout-manage-list #manageList
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Users</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <a md-list-item>
        <md-icon md-list-icon>account_circle</md-icon>
        All Users
      </a>
      <a md-list-item>
        <md-icon md-list-icon>star</md-icon>
        Favorites
      </a>
      <a md-list-item>
        <md-icon md-list-icon>verified_user</md-icon>
        Administrators
      </a>
      <a md-list-item>
        <md-icon md-list-icon>supervisor_account</md-icon>
        Non-Admins
      </a>
      <a md-list-item>
        <md-icon md-list-icon>inbox</md-icon>
        Archived
      </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="text-capital">{{action}} user</span>
    </div>
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>User Form</md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <form #userForm="ngForm">
          <div layout="row">
            <md-input-container flex> 
              <input mdInput
                      #displayNameElement
                      #displayNameControl="ngModel"
                      type="text" 
                      placeholder="Display Name" 
                      [(ngModel)]="displayName" 
                      name="displayName" 
                      maxlength="20" 
                      required>
              <md-hint align="start">
                <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.errors?.required">Required</span>
                </span>
              </md-hint>
              <md-hint align="end">{{displayNameElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #emailElement
                      #emailControl="ngModel"
                      type="text" 
                      placeholder="Email" 
                      [(ngModel)]="email" 
                      name="email"
                      maxlength="30"
                      pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
                      required>
              <md-hint align="start">
                <span [hidden]="emailControl.pristine" class="tc-red-600">
                  <span [hidden]="!emailControl.errors?.required">Required</span>
                  <span [hidden]="!emailControl.errors?.pattern">incorrect pattern</span>
                </span>
              </md-hint>
              <md-hint align="end">{{emailElement.value.length}} / 30</md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            <md-slide-toggle [(ngModel)]="admin" name="admin">Admin</md-slide-toggle>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">SAVE</button>
        <button md-button (click)="goBack()">CANCEL</button>
      </md-card-actions>
    </md-card>
  </td-layout-manage-list>
</td-layout-nav>
