:host /deep/ {
    .md-input-prefix {
        width: 44px;
        text-align: center;
    }
    md-divider {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
    }
}