<div layout="column" layout-fill>
  <mat-toolbar color="primary" class="md-whiteframe-z1">
    <span>Login</span>
  </mat-toolbar>
  <div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="50">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          <md-card-title><mat-icon class="mat-icon-logo" svgIcon="assets:covalent"></mat-icon> Login</md-card-title>
          <md-card-subtitle>sign in via your current corporate account</md-card-subtitle>
          <mat-divider></mat-divider>
          <md-card-content>
            <form #loginForm="ngForm">
              <div layout="row">
                <md-form-field flex> 
                  <input mdInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                  <span md-prefix><mat-icon>person</mat-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                  </md-hint>
                  <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
                </md-form-field>
              </div>
              <div layout="row">
                <md-form-field flex> 
                  <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                  <span md-prefix><mat-icon>lock</mat-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                  </md-hint>
                  <md-hint align="end">Something hard to guess</md-hint>
                </md-form-field>
              </div>
            </form>
          </md-card-content>
          <mat-divider></mat-divider>
          <md-card-actions layout="row">
            <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>    
  </div>
</div>