<td-layout-nav logo="assets:covalent" class="white-orange">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span hide-xs>App Templates</span>
    <span flex ></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Templates</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/templates']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Landing Page</span></h4>
            <p md-line>a landing page template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Dashboard</span></h4>
            <p md-line>an ngx-charts dashboard template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line><span class="text-wrap">Email App</span></h4>
            <p md-line>an email app template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/editor']">
            <md-icon md-list-avatar>view_array</md-icon>
            <h4 md-line><span class="text-wrap">IDE Editor</span></h4>
            <p md-line>an IDE text editor app template</p>
          </a>
        </md-nav-list>
        <a md-button color="accent" td-menu-footer href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank">
          View Code
        </a>
      </td-menu>
    </md-menu>
    <a md-icon-button mdTooltip="View this code" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <md-toolbar color="primary" class="pad-none pull-top">
    <nav md-tab-nav-bar class="pull-bottom">
      <a md-tab-link
        [routerLink]="['/templates']"
        class="active">
        Landing Page
      </a>
      <a md-tab-link
        [routerLink]="['/templates/dashboard']">
        Dashboard
      </a>
      <a md-tab-link
        [routerLink]="['/templates/email']">
        Email App
      </a>
      <a md-tab-link
        [routerLink]="['/templates/editor']">
        IDE Editor
      </a>
    </nav>
  </md-toolbar>
  <section class="bgc-blue-50">
    <div layout-gt-xs="row">
      <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
        <div class="push-top-xl" hide-xs></div>
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <h1 class="md-display-1 tc-grey-800 push-top-xs push-bottom-sm">Awesome Landing Page Template</h1>
          <p class="md-title tc-grey-600">Covalent isn't just for web application interfaces. You can easily build a reponsive landing pages just like this!</p>
            <button md-raised-button color="accent" class="push-bottom md-button-lg">Get Started</button>
        </div>
        <div class="push-bottom-xl" hide-xs></div>
      </div>
      <div flex="55" class="bg-cover" style="background-image:url('https://assets.entrepreneur.com/static/1425479423-vince-vaughn-appearing-free-cheesy-stock-images-you-can-download-getty-3.jpg');background-size:cover;">
      </div>
    </div>
  </section>

  <section class="bgc-light-blue-600 tc-light-blue-50"  tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <h2 class="md-headline text-upper text-center tc-grey-50 push-bottom">Covalent Templates</h2>
    <div layout="row" layout-align-gt-xs="center center">
      <div flex-gt-xs="80" layout="row" layout-wrap>
        <div class="text-center" flex-xs="50" flex-gt-xs="25">
          <md-icon class="tc-grey-50 md-display-2">system_update_alt</md-icon>
          <div class="pad-bottom-md"> Landing Page Template</div>
        </div>
        <div class="text-center" flex-xs="50" flex-gt-xs="25">
          <md-icon class="tc-grey-50 md-display-2 ">dashboard</md-icon>
          <div class="pad-bottom-md">Dashboard Template</div>
        </div>
        <div class="text-center" flex-xs="50" flex-gt-xs="25">
          <md-icon class="tc-grey-50 md-display-2">email</md-icon>
          <div class="pad-bottom-md">Email App Template</div>
        </div>
        <div class="text-center" flex-xs="50" flex-gt-xs="25">
          <md-icon class="tc-grey-50 md-display-2">view_array</md-icon>
          <div class="pad-bottom-md">IDE Editor Template</div>
        </div>
      </div>
    </div>
  </section>
<!--Product Card code starts here-->
  <section class="bgc-blue-grey-50" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <div  layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-sm="row" flex-gt-xs="75" layout-margin>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-light-blue-500 push-bottom">
              <span class="text-upper">Plan Name</span>
            </md-toolbar>
            <md-card-subtitle>Plan description goes here.</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <h3 md-subheader>Features</h3>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>

        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-light-blue-800 push-bottom">
              <span class="text-upper">Plan Name</span>
            </md-toolbar>
            <md-card-subtitle>Plan description goes here.</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <h3 md-subheader>Features</h3>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>

        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-orange-700 push-bottom">
              <span class="text-upper">Plan Name</span>
            </md-toolbar>
            <md-card-subtitle>Plan description goes here.</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <h3 md-subheader>Features</h3>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-deep-orange-700 push-bottom">
              <span class="text-upper">Plan Name</span>
            </md-toolbar>
            <md-card-subtitle>Plan description goes here.</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <h3 md-subheader>Features</h3>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Feature Name</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>
      </div>
    </div>
  </section>
  <section class="bgc-blue-600">
    <div layout-gt-xs="row">
      <div flex class="bg-cover" style="background-image:url('https://assets.entrepreneur.com/static/1425478689-vince-vaughn-appearing-free-cheesy-stock-images-you-can-download-getty-2.jpg');background-size:cover;">
      </div>
      <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xxl']">
        <div class="push-top-xxl" hide-xs></div>
        <h3 class="md-display-1 tc-white push-top-xs push-bottom-sm">Contact Our Company</h3>
        <p class="md-title tc-blue-50">Ready to make dive into Angular 2? Clone this repo and get started today!</p>
        <button md-raised-button color="accent" class="push-bottom">Contact Us</button>
        <div class="push-top-xxl" hide-xs></div>
      </div>
    </div>
  </section>
  <section class="bgc-blue-grey-800 tc-blue-grey-100">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-sm="row" flex-gt-xs="75" layout-margin layout-padding>
        <div flex>
          <md-nav-list>
            <h3 md-subheader class="text-upper tc-blue-grey-100">Menu Name</h3>
            <md-list-item>
              <p md-line md-caption class="md-body-2">List Item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div flex>
          <md-nav-list>
            <h3 md-subheader class="text-upper tc-blue-grey-100">Menu Name</h3>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line >List item</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div flex>
          <md-nav-list>
            <h3 md-subheader class="text-upper tc-blue-grey-100">Menu Name</h3> 
            <md-list-item>
              <p md-line>List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line>List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line>List item</p>
            </md-list-item>
            <md-list-item>
              <p md-line>List item</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div flex-gt-xs="10">
        </div>
        <div flex layout="column" flex-gt-xs="30" layout-align="right right">
          <md-icon push-right-xl svgIcon="assets:covalent" class="md-icon-logo"></md-icon>
          <p class="text-sm">&copy; Copyright 2016 Company Name, Inc. All rights reserved.</p>
        </div>
      </div>
    </div>  
  </section>
</td-layout-nav>

<a md-fab color="accent" class="md-fab-position-bottom-right" style="bottom:20px;" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank"> 
  <md-icon>code</md-icon>
</a>