/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {
    // md-divider has a bug in angular-material that doesn't apply color
    md-divider {
        border-top-color: rgba(black, 0.12);
    }
     /* Manage list custom styles */
    .will-load {
        min-height: 80px;
    }
    .md-sort-item {
        /deep/ {
            .md-list-item {
            padding: 0;
            }
        }
    }
    .md-input-search {
        /deep/ {
            .md-input-prefix {
            width: 45px;
            text-align: center;
        }
    }
    md-icon.clear-search {
        top: 15px;
        position: relative;
    }
    }
    .md-sort-icon {
        font-size: 15px;
        margin-right: 10px;
    }
    .md-sort-header {
        padding: 10px;
        &:hover {
            background-color: #EEEEEE;
            cursor: pointer;
        }
    }
}