<td-layout-nav logo="assets:covalent" class="dark-grey-blue">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>App Templates</span>
    <span flex ></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Templates</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/templates']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Landing Page</span></h4>
            <p md-line>a landing page template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Dashboard</span></h4>
            <p md-line>an ngx-charts dashboard template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line><span class="text-wrap">Email App</span></h4>
            <p md-line>an email app template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/editor']">
            <md-icon md-list-avatar>view_array</md-icon>
            <h4 md-line><span class="text-wrap">IDE Editor</span></h4>
            <p md-line>an IDE text editor app template</p>
          </a>
        </md-nav-list>
        <a md-button color="accent" td-menu-footer href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank">
          View Code
        </a>
      </td-menu>
    </md-menu>
    <a md-icon-button mdTooltip="View this code" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <div class="bgc-black inset charts-dark" flex>
    <div layout-gt-xs="row" layout-wrap>
      <div flex-gt-xs="40">
        <md-card>
          <md-card-title>Total Sales</md-card-title>
          <md-card-subtitle>combined sales for all products</md-card-subtitle>
          <md-divider></md-divider>
          <div style="height:290px;overflow:hidden;" class="pad-top-sm">
            <ngx-charts-area-chart-stacked
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-area-chart-stacked>
          </div>
        </md-card>
      </div>
      <div flex-gt-xs="60">
        <div layout-gt-xs="row">
          <div flex-gt-xs="100">
            <ngx-charts-number-card
              [scheme]="colorSchemeDark"
              [results]="single">
            </ngx-charts-number-card>
          </div>
        </div>
        <div layout-gt-xs="row" class="pull-top-xs">
          <div flex-gt-xs="100">
            <md-card>
              <div style="height:224px;overflow:hidden;" class="pad-top push-right">
                <ngx-charts-bar-horizontal-stacked
                  [scheme]="colorScheme"
                  [results]="multi"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel">
                </ngx-charts-bar-horizontal-stacked>
              </div>
            </md-card>
          </div>
        </div>
      </div>
      <div flex-gt-xs="33">
        <md-card>
          <md-card-title>Product Sales</md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-bar-vertical-2d
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical-2d>
          </div>
        </md-card>
      </div>
      <div flex-gt-xs="33">
        <md-card>
          <md-card-title>Product Usage</md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-gauge
              [scheme]="colorScheme"
              [results]="single"
              [min]="0"
              [max]="100"
              [units]="'usage'"
              [bigSegments]="10"
              [smallSegments]="5">
            </ngx-charts-gauge>
          </div>
        </md-card>
      </div>
      <div flex-gt-xs="33">
        <md-card>
          <md-card-title>Sales Forecast</md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-line-chart
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [autoScale]="autoScale">
            </ngx-charts-line-chart>
          </div>
        </md-card>
      </div>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Days Shown:</span>
      <md-slider flex thumbLabel tickInterval="1" step="1" min="1" max="30" value="14"></md-slider>
    </div>
  </td-layout-footer>
  <a md-fab color="accent" class="md-fab-position-bottom-right" style="bottom:20px;" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank"> 
    <md-icon>code</md-icon>
  </a>
</td-layout-nav>
