// NGX Chart theme
  $color-bg-med: #2f3646;
  $color-text-dark: #72809b;
  $color-text-med-dark: #919db5;
  $color-text-med: #a8b2c7;
  $color-text-light: #f0f1f6;
  $color-text-lighter: #fff;

:host /deep/ {
    // NGX Charts
    text {
        fill: $color-text-med;
    }
    .gridline-path {
        stroke: $color-bg-med;
    }
    // Hide X axis grid lines
    .gridline-path-vertical {
        display: none;
    }
    .number-card {
        p {
            color: $color-text-light;
        }
    }
    .gauge {
        .background-arc{
            path {
            fill: $color-bg-med;
            }
        }

        .gauge-tick {
            path {
            stroke: $color-text-med;
            }
            text {
            fill: $color-text-med;
            }
        }
    }
    .linear-gauge {
        .background-bar {
            path {
            fill: $color-bg-med;
            }
        }

        .units {
            fill: $color-text-dark;
        }
    }
}