<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="item">Activity > {{item.name}}</span>
    <span flex></span>
  </div>
  <td-layout-card-over  *ngIf="item">
       <mat-card-title>{{item.name}}'s Activity Stream</mat-card-title>
    <mat-card-subtitle>Last activity: {{item.description}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-list>
      <ng-template ngFor [ngForOf]="[0,1,2,3,4]">
        <mat-list-item layout-align="row">
            <mat-icon matListAvatar> receipt </mat-icon>
            <h3 matLine> {{item.name}} </h3>
            <p matLine> activity description </p>            
          </mat-list-item>
      </ng-template>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="accent" class="text-upper" (click)="goBack()">
        Back
      </button>
    </mat-card-actions>
  </td-layout-card-over>   
</td-layout-nav>