<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span *ngIf="activity">Activity > {{activity.name}}</span>
    <span flex></span>
  </div>
  <td-layout-card-over  *ngIf="activity">
       <md-card-title>{{activity.name}}'s Activity Stream</md-card-title>
    <md-card-subtitle>Last activity: {{activity.description}}</md-card-subtitle>
    <md-divider></md-divider>
    <md-list>
      <template ngFor [ngForOf]="[0,1,2,3,4]">
        <md-list-item layout-align="row">
            <md-icon md-list-avatar> receipt </md-icon>
            <h3 md-line> {{activity.name}} </h3>
            <p md-line> activity description </p>            
          </md-list-item>
      </template>
    </md-list>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="accent" class="text-upper" (click)="goBack()">
        Back
      </button>
    </md-card-actions>
  </td-layout-card-over>   
</td-layout-nav>
