@import "theme";
// You can add global styles to this file that will cascade like normal CSS

// Active icon color in list nav
md-nav-list {
    [md-list-item].active {
        md-icon[md-list-avatar] {
            background-color: md-color($accent);
            color: md-color($accent, default-contrast)
        }
        md-icon[md-list-icon] {
            color: md-color($accent);
        }
    }
}
// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Stretch tab labels until there is an attribute for it
.md-tab-label {
    flex-grow: 1;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Manage List layout overflow is too short
td-layout-manage-list .md-sidenav-content > .md-content > .md-content {
    padding-bottom: 140px;
}