<td-layout-nav-list title="Covalent Quickstart" logo="assets/icons/covalent.svg">
    <list-items>
        <template let-item let-last="last" ngFor [ngForOf]="items">
          <a md-list-item [routerLink]="[item.route]">
            <md-icon md-list-avatar>{{item.icon}}</md-icon>
            <h3 md-line> {{item.title}} </h3>
            <p md-line> {{item.description}} </p>
          </a>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </template>
    </list-items>
    <div class="md-padding">
      <div layout="row" layout-wrap>
        <template let-item let-last="last" ngFor [ngForOf]="items">
          <div flex-md="100" flex-gt-md="50" layout="column">
            <md-card href [routerLink]="[item.route]" class="md-card-colored" flex>
              <md-toolbar class="bgc-{{item.color}}" layout="column" layout-align="center center" layout-padding>
                <md-icon class="md-icon-font-xl tc-white">{{item.icon}}</md-icon>
              </md-toolbar>
              <md-card-content>
                <div layout="column" layout-padding>
                  <div class="md-subhead">{{item.title}}</div>
                  <div class="md-caption tc-grey-600"> {{item.description}} </div>   
                </div>
              </md-card-content>
            </md-card>
          </div>
        </template>
      </div>
      <div layout="row" layout-wrap>
        <div flex-md="100" flex-gt-md="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-display-1">{{ '2341'| digits }} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <div layout="column" layout-padding>
                <div class="md-subhead">Digits Metric</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div flex-md="100" flex-gt-md="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-display-1">{{ '72452903343' | bytes }} <md-icon class="tc-red-500 text-sm">arrow_downward</md-icon></div>
              <div layout="column" layout-padding>
                <div class="md-subhead">Filesize Metric</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-07-18 11:02:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div flex-md="100" flex-gt-md="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-display-1">{{ '3245234' | digits}} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <div layout="column" layout-padding>
                <div class="md-subhead">Millions Digits Metric</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <md-card>
        <md-card-title>Covalent Resources</md-card-title>
        <md-card-subtitle>Docs and info to help get started</md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list>
          <template let-item let-last="last" ngFor [ngForOf]="resources">
            <a md-list-item layout-align="row" [href]="item.link" target="_blank">
              <md-icon md-list-avatar><span class="tc-{{item.color}}"> {{item.icon}} </span></md-icon>
              <h3 md-line> {{item.title}} </h3>
              <p md-line> {{item.description}} </p>
              <md-icon>launch</md-icon>
            </a>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-nav-list>
        </md-card>
      <div layout="row" layout-align="start center" layout-padding>
        <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
        <span flex></span>
        <md-icon class="md-icon-ux" svgSrc="assets/icons/teradata-ux.svg"></md-icon>
      </div>
    </div>
  </td-layout-nav-list>